<header class="text-3xl m-3 text-center">Randomized Weather App</header>
<hr />
<form class="m-6 mx-auto w-max" [formGroup]="formControls">
  <label class="block"
    ><span class="text-red-800">*</span> <span class="text-xs"> Required Field</span></label
  >
  <label class="block">
    <span class="inline-block w-16">City <span class="text-red-800">*</span></span>
    <input
      id="city"
      class="border-b border-gray-400 placeholder-gray-500 px-1"
      placeholder="City"
      formControlName="city"
    />
    <br />
    <span class="text-red-800">{{ formErrorMesages().city }} </span>
  </label>
  <label class="block">
    <span class="inline-block w-16">State <span class="text-red-800">*</span></span>
    <!-- <input
      id="state"
      class="border-b border-gray-400"
      placeholder="State"
      formControlName="state"
    /> -->
    <select
      class="border-b border-gray-400"
      [class.text-gray-500]="formControls.controls.state.invalid"
      formControlName="state"
    >
      <option disabled selected value="">Select a State</option>
      @for (state of locationService.states; track state) {
      <option [value]="state">{{ state }}</option>
      }
    </select>
    <br />
    <span class="text-red-800">{{ formErrorMesages().state }} </span>
  </label>
  <label class="block">
    <span class="inline-block w-16">Zip <span class="text-red-800">*</span></span>
    <input
      id="zip"
      class="border-b border-gray-400 placeholder-gray-500 px-1"
      placeholder="Zip"
      formControlName="zip"
    />
    <br />
    <span class="text-red-800">{{ formErrorMesages().zip }} </span>
  </label>
</form>

<hr />
<div class="flex flex-wrap m-6 justify-center">
  <button class="inline-block rounded-lg p-3 border mx-3" (click)="refresh$.next()">Refresh</button>
  <button
    class="inline-block rounded-lg p-3 border mx-3"
    (click)="addLocation()"
    [disabled]="!formControls.valid"
  >
    Add +
  </button>
</div>
<hr />
<div class="flex flex-wrap m-6 justify-center">
  @if(generalErrorMessage()) {
  <span class="text-3xl text-red-800">{{ generalErrorMessage() }}</span>
  } @for (card of weatherCities(); track card.id) {
  <div app-weather-card [weatherState]="card"></div>
  }
  <div class="mx-1 w-sm"></div>
  <div class="mx-1 w-sm"></div>
  <div class="mx-1 w-sm"></div>
</div>
<hr />
<div class="m-2 sm:mx-[5%] lg:mx-[10%] mb-[10%]">
  <canvas [appTemperatureChartData]="weatherCities()"></canvas>
</div>
